.root {
    -fx-background-image: url("../background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
}

#connecting-text {
    -fx-fill: royalblue;
}

#title {
    -fx-font-family: Tahoma;
    -fx-font-size: 20pt;
    -fx-fill: darkred;
    -fx-font-weight: bold;
    -fx-effect: innershadow(three-pass-box, rgba(50, 50, 50, 0.7), 6, 0.0, 0, 2);

}